## Introduction
Hello and welcome back everyone, in this blog, we are going to use MySQL to perform data analysis. I was also in shock when I knew that one could do data analysis in SQL because I was never used to it. 

Here in this blog, we will use the COVID-19 dataset which is publicly available in [GitHub](https://github.com/owid/covid-19-data/tree/master/public/data). 

Without getting any delay, lets proceed further.

## Preparing Data

In the few past blogs, I have used above data and recently I have used it to make [Data Dashboard in Apache Superset](https://wp.me/pdCti4-h4). 

Lets put the data in database first. I will be using Python and Pandas along with SQLAlchemy to do that.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

con_url="mysql+mysqldb://root:password@localhost:3306/mysql"
            
engine = create_engine(con_url)
connection = engine.raw_connection()
cursor = connection.cursor()

In above block of code, I've created a connection URL and then made a connection as well as cursor to do MySQL queries executions. Lets see if it worked or not.

In [2]:
cursor.execute("select 'temp' as result, 1;")
cursor.fetchall()

(('temp', 1),)

It worked!

In [3]:
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

### Inserting Data in Database
Lets create a database covid_analysis.

In [5]:
cursor.execute("create database covid_analysis;")
connection.commit()

Now we will insert above dataframe into new table raw_data inside covid_analysis. We will pass table name, connection, schema name and if we want index or not. Since data is large, it might take some time to complete.

In [6]:
df.to_sql("raw_data",con=engine,schema="covid_analysis",index=False)

Once its done, lets head to the MySQL Workbench where we will do various analysis.